<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="收到一份生日礼物,点击打开" />
    <meta content="width=device-width,height=device-height,maximum-scale=1.0,initial-scale=1.0,minimum-scale=1.0,user-scalable=no"
        name="viewport">
    <link rel="shortcut icon" href="https://luangeng2008.gitee.io/cdn/favicon.ico" />
    <title>生日礼物</title>
    <link rel="stylesheet" href="../../css/amazeui.min.css">
    <link rel="stylesheet" href="style.css" media="screen and (max-width: 600px)">
    <link rel="stylesheet" href="mp3.css" media="screen and (max-width: 600px)">
    <link rel="stylesheet" href="https://luangeng2008.gitee.io/cdn/css/firework-min.css">
</head>

<body>
    <div style='margin:0 auto;width:0px;height:0px;overflow:hidden;'>
        <img src="gift.jpg" width="0" height="0" />
    </div>
    <div class="loading">
        <div style="position:absolute;width:90%;left:5%;top:20%; ">
            <div class="col-md-offset-3 col-md-6">
                <div class="am-progress am-progress-striped am-active">
                    <div id="pg1" class="am-progress-bar am-progress-bar-danger" style="width:1%;"></div>
                </div>
                <div class="am-progress am-progress-striped am-active">
                    <div id="pg2" class="am-progress-bar am-progress-bar-secondary" style="width:1%;"></div>
                </div>
                <div class="am-progress am-progress-striped am-active">
                    <div id="pg3" class="am-progress-bar am-progress-bar-success" style="width:1%;"></div>
                </div>
            </div>
        </div>

        <div style="position:absolute;width:100%;bottom:20%;">
            <button id="button" type="button" class="am-btn am-btn-success" style="position:absolute;display:none;width:60%;left:20%;">Click
            </button>
        </div>
    </div>

    <div class="body-div">
        <audio id="audio" controls="controls" preload="auto" style="display:none" src="http://luangeng2008.gitee.io/cdn/mp3/生日快乐钢琴曲.mp3"></audio>
        <img class="spinner stop" onclick="mp3.shift()" src="https://luangeng2008.gitee.io/cdn/img/music.png">

        <ul class="list2" onclick="listtoggle(this)">
            <li id="word1"></li>
            <li id="word2"></li>
            <li id="word3"></li>
            <li id="word4"></li>
            <li id="word5"></li>
            <li id="word6"></li>
        </ul>

        <div class="yellowlight" style="width:100%;top:5%;text-align:center;font-size: 8vw;">祝XX生日快乐!</div>
        <div class="pinkblue" style="left:3%;top:2%;font-size:5vw;transform: rotate(-30deg);">♡</div>
    </div>

    <div class="photos"></div>

    <script src="https://libs.baidu.com/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="mp3.js"></script>
    <script type="text/javascript" src="index.js"></script>
    <script type="text/javascript" src="../../js/zpay-core-mini-0.6.1.js"></script>
</body>

</html>