@font-face {
  font-family: Concert;
  src: url('ConcertOne.ttf');
}

@font-face {
  font-family: nu;
  src: url('nu.ttf');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  touch-action: none;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  background-color: black;
  overflow: hidden;
  background-image: url('https://luangeng2008.gitee.io/cdn/backpic/1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: nu, Arial, 微软雅黑;
}

.body-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000011;
  z-index: 1;
}

.text1 {
  position: absolute;
  bottom: 2%;
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: white;
  font-family: 微软雅黑;
}

.text2 {
  font-size: 5vw;
  color: white;
  position: absolute;
  width: 100%;
  top: 90%;
  text-align: center;
}

.loading {
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #5f5f5f;
  background-image: url("https://luangeng2008.gitee.io/cdn/loading/l1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0px;
}

.photos {
  margin: 0;
  padding: 0;
  top: 17%;
  height: 55%;
  width: 80%;
  left: 8%;
  border: 8px solid #ffffff70;
  border-radius: 10px;
  display: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-origin: content-box;
}

.pmove {
  position: absolute;
  animation: imageAnimation 6s infinite;
  -moz-animation: imageAnimation 6s infinite;
  -webkit-animation: imageAnimation 6s infinite;
  -o-animation: imageAnimation 6s infinite;
}

@keyframes imageAnimation {
  0% {
    transform: scale(1) translate(-200%, 0%) rotate(-30deg);
    animation-timing-function: ease-out;
  }

  15% {
    transform: scale(1) rotate(-0deg);
  }

  85% {
    transform: scale(1) rotate(-0deg);
  }

  100% {
    transform: scale(1) translate(-200%, 0%) rotate(-30deg);
    animation-timing-function: ease-in;
  }
}

/* list  */
.list {
  position: absolute;
  list-style: none;
  width: 100%;
  margin: 0px;
  padding: 0%;
  height: 25px;
  top: 77%;
  overflow: hidden;
}

.list li {
  width: auto;
  height: 25px;
  position: relative;
  animation: myfirst 12s infinite;
  line-height: 21px;
  text-align: center;
  font-size: 21px;
  color: #fff;
}

@keyframes myfirst {
  0% {
    top: 0px;
  }

  20% {
    top: -25px;
  }

  40% {
    top: -50px;
  }

  60% {
    top: -75px;
  }

  80% {
    top: -100px;
  }

  100% {
    top: -125px;
  }
}

.list2 {
  width: 100%;
  position: absolute;
  list-style: none;
  margin: 0px;
  padding: 0%;
  height: 100px;
  overflow: hidden;
  top: 79%;
}

.list2 li {
  width: auto;
  height: 25px;
  position: relative;
  animation: myfirst2 24s infinite;
  line-height: 24px;
  text-align: center;
  font-size: 21px;
  color: #fff;
}

@keyframes myfirst2 {
  0% {
    top: 100px;
  }

  10% {
    top: 75px;
  }

  20% {
    top: 50px;
  }

  30% {
    top: 25px;
  }

  40% {
    top: 0px;
  }

  50% {
    top: -25px;
  }

  60% {
    top: -50px;
  }

  70% {
    top: -75px;
  }

  80% {
    top: -100px;
  }

  90% {
    top: -125px;
  }

  100% {
    top: -150px;
  }
}

/*  neon */
.yellowlight {
  font-size: 8vw;
  color: white;
  position: absolute;
  /*transform: rotate(-30deg);*/
  animation: yellowlight 3s ease infinite alternate;
  -moz-animation: yellowlight 3s ease infinite alternate;
  -webkit-animation: yellowlight 3s ease infinite alternate;
  -o-animation: yellowlight 3s ease infinite alternate;
}

@keyframes yellowlight {
  0% {
    text-shadow: 0 0 5px #FFFFFF, 0 0 10px #FFFF00
  }

  100% {
    text-shadow: 0 0 10px #FFFFFF, 0 0 10px #FF00DE
  }
}

.pinkblue {
  font-size: 8vw;
  color: white;
  position: absolute;
  animation: pinkblue 1.5s ease 0.5s infinite alternate;
  -moz-animation: pinkblue 1.5s ease 0.5s infinite alternate;
  -webkit-animation: pinkblue 1.5s ease 0.5s infinite alternate;
  -o-animation: pinkblue 1.5s ease 0.5s infinite alternate;
}

@keyframes pinkblue {
  0% {
    text-shadow: 0 0 5px #FFFFFF, 0 0 10px #FF00DE
  }

  100% {
    text-shadow: 0 0 5px #FFFFFF, 0 0 10px #FFFF
  }
}

.blueyellow {
  top: 88%;
  transform: rotate(-20deg);
  font-size: 5.5vw;
  position: absolute;
  color: white;
  animation: blueyellow 1.5s ease 0.5s infinite alternate;
  -moz-animation: blueyellow 1.5s ease 0.5s infinite alternate;
  -webkit-animation: blueyellow 1.5s ease 0.5s infinite alternate;
  -o-animation: blueyellow 1.5s ease 0.5s infinite alternate;
}

@keyframes blueyellow {
  0% {
    text-shadow: 0 0 5px #FFFFFF, 0 0 7px #FFFFFF, 0 0 15px #00FFFF
  }

  100% {
    text-shadow: 0 0 5px #FFFFFF, 0 0 7px #FFFFFF, 0 0 15px #ff0202
  }
}

.blueyellowf {
  font-size: 5.5vw;
  position: absolute;
  color: white;
  animation: blueyellow 1.5s ease 0.5s infinite alternate;
  -moz-animation: blueyellow 1.5s ease 0.5s infinite alternate;
  -webkit-animation: blueyellow 1.5s ease 0.5s infinite alternate;
  -o-animation: blueyellow 1.5s ease 0.5s infinite alternate;
}

@keyframes blueyellow {
  0% {
    text-shadow: 0 0 5px #FFFFFF, 0 0 7px #FFFFFF, 0 0 15px #00FFFF
  }

  100% {
    text-shadow: 0 0 5px #FFFFFF, 0 0 7px #FFFFFF, 0 0 15px #ff0202
  }
}

/*  button  */
.button {
  position: absolute;
  background-color: #C63300;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 12px;
  top: 85%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, 0%)
}